@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* Green & brown colour palette
#35492c dark green
#61b292 med green
#aed09e light green
#f1e8a7 cream beige
#a8896c med brown
#57402b dark brown
*/


* {
    font-family: 'IM Fell English SC', serif;
}

#picture_selector{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #61b292;
    font-size: 100%;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #57402b;
    max-height: 10vh;
    max-width: 92.8%;
    border-color:#a8896c;
    border-width: 2vw;
    border-style:outset;
    padding: 5vw 3vw 4vw 3vw;
    margin: 0px 0px 0px 0px;
}

a {
    display:flex;
    align-items: center;
    color: #61b292;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
    background-color:#57402b;
    border-color:#a8896c;
    border-width: 1.5vw;
    border-style:outset;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 3vw 2vw;
    max-width: 15vw;
    max-height: 8vh;
    min-height: 6vh;
}

a:hover {
    color:#61b292;
    font-weight: bolder;
    background-color:#a8896c;
    border-color: #a8896c;
}

a:active {
    color: #35492c;
    background-color: #1c0818;
    border-color: #57402b;
    transform:translate(0.3vw, 0.3vw);
    border-style:inset;
}

/* #index_body {
    background-image: url(images/church_int_wide.png);
    background-color: none;
    background-repeat: no-repeat;
    background-size: 100vw;
} */

.mainfont {
    color:#35492c;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    padding: 0.6vw 1vw 0.6vw 1vw;
    margin: 0px 0px 0px 0px;
    position: relative;
}

p {
    font-size: 3.3em;
    padding: 3vw 3vw 3vw 3vw;
    margin: 0px 0px 0px 0px;
}