#pet-creation-container-wrapper * {
    margin: 0px 0px 0px 0px;
}

#pet-creation-container-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vw;
}

#pet-creation-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2vw;
    border: 2px black solid;
    width: 80vw;
    height: auto;
    background-color: #a8896c;
}

#pet-creation-title-text-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 0vw 1vw 0vw;
}

#pet-creation-title-text-wrapper * {
    text-align: center;
}

#pet-creation-title-text-wrapper h1 {
    padding: 0px 0px 0px 0px;
    font-size: 5vw;
    font-weight: 700;
}

#pet-creation-title-text-wrapper h2 {
    padding: 0px 0px 0px 0px;
    margin-top: 0.5vw;
    font-size: 2.5vw;
    font-weight: 300;
}

#pet-creation-selector-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
}

#pet-creation-info {
    padding-top: 1vw;
    padding-bottom: 2vw;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#pet-creation-info p {
    padding: 0px 0px 0px 0px;
    font-size: 3vw;
    text-align: left;
    /* width: 80%; */
}

#pet_name{
    font-size: 4vw;
}

#pet-selection-box {
    width: auto;
    height: 3vw;
    font-size: 2vw;
    background-color: #f1e8a7;
    border: 2px solid black;
}

#pet-creation-preview {
    width: 100%;
    height: auto;
}

#pet-creation-preview img {
    height: 24vw;
    width: auto;
    margin: 1vw 0vw 1vw 0vw;
}

#name_change_button{
    height: 3vw;
    width: auto;
    font-size: 2vw;
    background-color: #f1e8a7;
}

#name_change{
    display: flex;
    /* display: none; */
    position:static;
    height: 5vw;
    width: 20vw;
    background-color: none;
}

#name_change_input {
    width: auto;
    height: 3vw;
    background-color: #f1e8a7;
    font-size: 2vw;
}

#name_change_submit {
    height: 3vw;
    width: auto;
    font-size: 2vw;
    background-color: #f1e8a7;
}

#pet-creation-submit-button-wrapper {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0vw 1vw 0vw;
}

#pet-creation-submit-button {
    height: 5vw;
    width: auto;
    font-size: 3vw;
    background-color: #f1e8a7;
}