#pet-creation-container-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0.2vw 0vw 0vw 0vw;
    padding: 0px 0px 0px 0px;
}

#pet-creation-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1.2vw #57402b ridge;
    width: 80vw;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #a8896c;
}

#pet-creation-title-text-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 0vw 0.5vw 0vw;
}

#pet-creation-title-text-wrapper * {
    text-align: center;
}

#pet-creation-title-text-wrapper h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 3.6vw;
    font-weight: 66px;
}

#pet-creation-title-text-wrapper h2 {
    padding: 0px 0px 0px 0px;
    margin: 0vw 0.2vw 0vw 0vw;
    font-size: 2.4vw;
    font-weight: 44px;
}

#pet-creation-selector-wrapper {
    width: 77%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: none;
}

#pet-creation-info {
    padding: 0vw 0vw 0vw 0vw;
    margin: 0vw 0vw 0vw 0vw;
    width: 77%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pet-creation-info p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 3vw;
    text-align: left;
}

#pet_name{
    font-size: 4vw;
}

#pet-selection-box {
    width: auto;
    height: 3vw;
    font-size: 2vw;
    background-color: #f1e8a7;
    border: 2px solid black;
}

#pet-creation-preview {
    width: 100%;
    height: auto;
}

#pet-creation-preview img {
    height: 20vw;
    width: auto;
    margin: 0vw 0vw 0vw 0vw;
    border: 0.8vw #57402b ridge;
}

#name_change_button{
    height: 3vw;
    width: auto;
    font-size: 2vw;
    background-color: #f1e8a7;
}

#name_change{
    display: flex;
    height: 5vw;
    width: 20vw;
    background-color: none;
}

#name_change_input {
    width: auto;
    height: 3vw;
    background-color: #f1e8a7;
    font-size: 2vw;
}

#name_change_submit {
    height: 3vw;
    width: auto;
    font-size: 2vw;
    background-color: #f1e8a7;
}

#pet-creation-submit-button-wrapper {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0vw 1vw 0vw;
}

#pet-creation-submit-button {
    height: 4vw;
    width: auto;
    font-size: 2.4vw;
    font-weight: 66px;
    background-color: #f1e8a7;
}