@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* Green & brown colour palette
#35492c dark green
#61b292 med green
#aed09e light green
#f1e8a7 cream beige
#a8896c med brown
#57402b dark brown
*/


* {
    font-family: 'IM Fell English SC', serif;
}

.mainfont {
    color:#35492c;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    padding: 0.6vw 1vw 0.6vw 1vw;
    margin: 0px 0px 0px 0px;
    position: relative;
}

p {
    font-size: 3.3em;
    padding: 3vw 3vw 3vw 3vw;
    margin: 0px 0px 0px 0px;
}


.navbar {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
.navbar_item{
    height: 100%;
    width: calc((100vw)/3);    
    /* border: 1px solid black; */
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

#pet_and_status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#status_bar {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-around;
    font-size: 3vw;
    background-color: #a8896c;
    width: 100vw;
    height: 30vw;
}

.status-bar-title {
    margin-left: 2vw;
    font-size: 2vw;
    padding: 0px 0px 0px 0px;
}

.status-bar-holder {
    width: 30%;
    height: 4vh;
    margin-left: 2vw;
    padding-top: 0vh;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: left;
    align-items: center;
}

.status-bar {
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    height: 70%;
}

#status-bar-health {
    background-color: red;
}

#status-bar-hunger {
    background-color: rgb(255,201,14);
}

#status-bar-thirst {
    background-color: rgb(153,217,234);
}

#status-bar-happiness {
    background-color: rgb(255,174,201);
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #61b292;
    font-size: 100%;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #57402b;
    max-height: 10vh;
    max-width: 92.8%;
    border-color:#a8896c;
    border-width: 2vw;
    border-style:outset;
    padding: 5vw 3vw 4vw 3vw;
    margin: 0px 0px 0px 0px;
}

.old_a {
    display:flex;
    align-items: center;
    color: #61b292;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
    background-color:#57402b;
    border-color:#a8896c;
    border-width: 1.5vw;
    border-style:outset;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 3vw 2vw;
    max-width: 15vw;
    max-height: 8vh;
    min-height: 6vh;
}

.old_a:hover {
    color:#61b292;
    font-weight: bolder;
    background-color:#a8896c;
    border-color: #a8896c;
}

.old_a:active {
    color: #35492c;
    background-color: #1c0818;
    border-color: #57402b;
    transform:translate(0.3vw, 0.3vw);
    border-style:inset;
}

#event_log{
    height: 40vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    border: 1px red solid;

}
#events_list{
    height: 90%;
    width: 90%;
    border: 1px black solid;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: scroll;
}
#events_list li{
    border-bottom: 1px green solid;
    padding-left: 1vw;
    
}

#reaperAudio {
    display:none;
}